beautifulsoup4==4.7.1
bs4==0.0.1
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
Cython==0.29.6
dash==1.9.1
#en-core-web-lg==2.1.0
#en-core-web-sm==2.1.0
gensim==3.8.2
ipython==7.6.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.0.3
nbconvert==5.4.1
nbformat==4.4.0
nbpresent==3.0.0
nltk==3.4
notebook==5.7.8
numpy==1.16.2
openpyxl==2.6.1
pandas==0.24.2
pandas-datareader==0.7.0
pandoc==1.0.2
pandocfilters==1.4.2
pdfminer==20191125
plotly==3.10.0
pyLDAvis==2.1.2
pylint==2.3.1
PyVirtualDisplay==0.2.4
Quandl==3.4.8
regex==2020.4.4
scikit-learn==0.22.2.post1
scipy==1.2.1
seaborn==0.9.0
sklearn==0.0
spacy==2.1.9
statsmodels==0.9.0
tensorflow==1.13.1
XlsxWriter==1.1.5
yahoo-finance==1.4.0
yfinance==0.1.50
