##### Core packages
jupyter==1.0.0
matplotlib==3.1.3
numpy==1.18.1
pandas==1.0.3
scipy==1.4.1

##### Machine Learning packages
scikit-learn==0.22
Keras==2.2.4


##### TensorFlow-related packages
# If you have a TF-compatible GPU and you want to enable GPU support, then
# replace tensorflow with tensorflow-gpu, and replace tensorflow-serving-api
# with tensorflow-serving-api-gpu.
# Your GPU must have CUDA Compute Capability 3.5 or higher support, and
# you must install CUDA, cuDNN and more: see tensorflow.org for the detailed
# installation instructions.

tensorflow==2.1.0

# Optional: the TF Serving API library is just needed for chapter 19.
tensorflow-serving-api==2.1.0
#tensorflow-serving-api-gpu==2.1.0
tensorboard==2.1.1
tensorboard-plugin-profile==2.2.0
tensorflow-datasets==2.1.0
tensorflow-hub==0.7.0
tensorflow-probability==0.9.0

##### Statistics packages
statsmodels==0.9.0

##### Data Download packages
pandas-datareader==0.7.0
Quandl==3.4.8

##### Additional Visualization packages
plotly==3.10.0
seaborn==0.9.0
dash==1.9.1

##### NLP packages - used in chapter 10
textblob==0.15.3
spacy==2.1.9
nltk==3.4
#en-core-web-lg==2.1.0
#en-core-web-sm==2.1.0
ChatterBot==1.0.5
chatterbot-corpus==1.2.0

##### Additional NLP Packages - used in examples/case studies in chapter 10
openpyxl==2.6.1
pyLDAvis==2.1.2
pdfminer==20191125
wordcloud==1.6.0
gensim==3.8.2
PyYAML==5.1

##### Additional utilities

# Efficient deployment
cloudpickle==1.2.2

# Additional utilities used for robo-advisor case study in chapter 5
dash-core-components==1.8.1
dash-daq==0.4.0
cvxopt==1.2.0

