absl-py==0.7.1
actors==0.5.1b1
agent==0.1.2
agents==1.4.0
alabaster==0.7.12
alpha-vantage==2.1.1
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
ann-visualizer==2.5
antlr4-python2-runtime==4.7.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.1.2
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backtrader==1.9.74.123
beautifulsoup4==4.7.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
blis==0.2.4
bokeh==1.0.4
boto==2.49.0
boto3==1.12.41
botocore==1.15.41
Bottleneck==1.2.1
bpemb==0.3.0
bqplot==0.11.5
bs4==0.0.1
bspline==0.1.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.12.2
chardet==3.0.4
chatbot==1.5.2b0
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
colour==0.1.5
comtypes==1.1.7
conda==4.7.12
conda-build==3.17.8
conda-package-handling==1.3.11
conda-verify==3.1.1
config==0.4.2
contextlib2==0.5.5
coverage==4.5.3
cryptography==2.6.1
cvxopt==1.2.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.6
cytoolz==0.9.0.1
dash==1.9.1
dash-core-components==1.8.1
dash-daq==0.4.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
dask==1.1.4
decorator==4.4.0
defusedxml==0.5.0
Deprecated==1.2.9
distributed==1.26.0
docformatter==1.3
docutils==0.14
EasyProcess==0.2.7
en-core-web-lg==2.1.0
en-core-web-sm==2.1.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.0.2
ffn==0.3.4
filelock==3.0.10
flair==0.4.5
Flask==1.0.2
Flask-Compress==1.4.0
funcy==1.14
future==0.17.1
gast==0.2.2
gensim==3.8.2
geojson==2.5.0
gevent==1.4.0
glob2==0.6
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.21.1
gym==0.15.3
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
httplib2==0.13.0
hyperopt==0.2.3
idna==2.8
imageio==2.5.0
imagesize==1.1.0
imbalanced-learn==0.5.0
imblearn==0.0
importlib-metadata==1.6.0
inflection==0.3.1
intel-openmp==2019.0
ipdb==0.12.3
ipykernel==5.1.0
ipyparallel==6.2.4
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.5
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-sphinx==0.2.1
jupyterlab==0.35.4
jupyterlab-server==0.2.0
jyquickhelper==0.3.128
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-rl==0.4.2
keyring==18.0.0
kiwisolver==1.0.1
langdetect==1.0.8
lazy-object-proxy==1.3.1
libarchive-c==2.8
llvmlite==0.28.0
locket==0.2.0
lxml==4.3.2
Markdown==3.1.1
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.0.3
mccabe==0.6.1
menuinst==1.4.16
metakernel==0.24.2
mglearn==0.1.7
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==3.0.5
more-itertools==5.0.0
mpl-finance==0.10.0
mpld3==0.3
mpmath==1.1.0
msgpack==0.6.1
multi-key-dict==2.0.3
multipledispatch==0.6.0
multitasking==0.0.9
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
nbpresent==3.0.0
ndg-httpsclient==0.5.1
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numexpr==2.6.9
numpy==1.16.2
numpydoc==0.8.0
oauth2client==4.1.3
olefile==0.46
openpyxl==2.6.1
packaging==19.0
pandas==0.24.2
pandas-datareader==0.7.0
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pdfminer==20191125
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
Pint==0.10.1
pixiedust==1.1.18
pkginfo==1.5.0.1
plac==0.9.6
plotly==3.10.0
pluggy==0.13.1
ply==3.11
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.6.1
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.7
pycurl==7.43.0.2
pydocstyle==4.0.0
pydot==1.4.1
PyDrive==1.3.1
pyensae==1.2.788
pyflakes==2.1.1
pyglet==1.3.2
Pygments==2.3.1
pyLDAvis==2.1.2
pylint==2.3.1
pymongo==3.10.1
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyquickhelper==1.9.3179
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.6.8
pytest==5.4.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.7.5
python-dotenv==0.10.3
pytorch-transformers==1.2.0
pytz==2018.9
PyVirtualDisplay==0.2.4
PyWavelets==1.0.2
pywin32==223
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
Quandl==3.4.8
regex==2020.4.4
requests==2.21.0
retrying==1.3.3
rope==0.12.0
rsa==4.0
ruamel-yaml==0.15.46
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
sacremoses==0.0.41
scikit-image==0.14.2
scikit-learn==0.22.2.post1
scipy==1.2.1
seaborn==0.9.0
segtok==1.5.9
semantic-version==2.6.0
Send2Trash==1.5.0
sentencepiece==0.1.85
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.11.1
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
spacy==2.1.9
Sphinx==2.1.2
sphinx-gallery==0.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-imagesvg==0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.2.19
sqlitedict==1.6.0
srsly==1.0.1
statsmodels==0.9.0
sympy==1.3
tables==3.5.1
tabulate==0.8.5
tblib==1.3.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
textblob==0.15.3
thinc==7.0.8
tokenizers==0.5.2
toolz==0.9.0
torch==1.1.0
torchvision==0.3.0
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
traittypes==0.2.1
transformers==2.8.0
typed-ast==1.4.0
unicodecsv==0.14.1
unify==0.4
untokenize==0.1.1
uritemplate==3.0.0
urllib3==1.24.1
virtualenv==16.7.9
wasabi==0.6.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.6.0
wrapt==1.11.1
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.1.5
xlwings==0.15.4
xlwt==1.3.0
yahoo-finance==1.4.0
yfinance==0.1.50
zict==0.1.4
zipp==3.1.0
